body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: rgb(255, 255, 255);
}

ul, ol {
list-style-type: none;
margin: 0;
padding: 0;
}

h1,h2,h3,h4,h5,h6, p {
margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(100%);
margin: -1px;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
}
}

@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding: 0 15px;
}
}




/* Header */
.site-header {
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav-menu {
    display: none;
}

.contact-info {
    display: none;
}

  /* Гамбургер справа */ 
  .burger-btn { 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    width: 24px; 
    height: 18px; 
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
   
  } 

  .burger-container {
    width: 24px;
    height: 24px;
  }

  .logo-link {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: block;
padding: 16px 0;

  }

  .logo-link .logo-studio {
font-family: var(--font7);
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
  }

  .burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .burger-icon {
    display: block;
    fill: #2f2f37;
  }



  /* Планшет Header */
  @media screen and (min-width: 768px) {
  .burger-btn {
   display: none;
  }

   .burger-container {
    display: none;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-info {
    font-style: normal;
    display: block;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    padding: 24px 0;
    margin-left: 120px;
}

.nav__link_nav__link--active {
font-family: var(--third-family);
font-weight: 500;
font-size: 16px;
line-height: 1.15;
letter-spacing: 0.02em;
color: #404bbf;
 position: relative;
}

.nav-link {
font-family: var(--third-family);
font-weight: 500;
font-size: 16px;
line-height: 1.15;
letter-spacing: 0.02em;
color: #2e2f42;
}

.nav__link_nav__link--active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 48px;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
   bottom: -25px;
}

.nav-link:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 48px;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
}

.contact-list {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #434455;
display: flex;
flex-direction: column;
gap: 12px;
}

.contact-link {
color: #434455;
}

  .logo-studio {
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
  }
}



 /* Desktop Header */
   @media screen and (min-width: 1158px) {
.site-header {
  width: 100%;
  max-width: 1440px;       /* или оставь auto для полной ширины */
           /* сверху и снизу */
  border-bottom: 1px solid #e7e9fc; /* если нужна граница */
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between; /* логотип слева, меню справа */
  align-items: center;            /* вертикально центрируем контент */
}




   .contact-list {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #434455;
display: flex;
flex-direction: row;
align-items: center;
gap: 40px;
}

.contact-link {
    font-family: var(--third-family);
font-weight: 400;
font-size: 16px;
line-height: 1.15;
letter-spacing: 0.02em;
color: #434455;
}

.logo-link {
   margin-right: 76px;
}

.logo-studio {
  font-family: var(--font7);
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
}

.nav__link_nav__link--active {
  position: relative;
  display: block;
 
}

.nav__link_nav__link--active::after {
  content: "";
  position: absolute;
  left: 50%;
   bottom: -25px;    
  transform: translateX(-50%);
  width: 48px;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
}

.nav-link:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 48px;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
  margin-bottom: 20px;
}
}







 /* Смартфон Section 1 */
  .hero-section {
    width: 320px;
    height: 432px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 72px;
    box-sizing: border-box;
     background-image:
    linear-gradient(rgba(46, 47, 66, 0.6), rgba(46, 47, 66, 0.6)),
    image-set(
      url('../images/people-office1(MOBILE).jpg') 1x,
      url('../images/people-office1\(MOBILE\)\(2x\).jpg') 2x
    );
  }

    .hero-section .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* центрируем по горизонтали */
    margin-left: 52px;
    width: 216px;
    height: 288px;
    }

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* фон за контентом */
}

.hero-bg picture,
.hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* изображение покрывает всю секцию */
  display: block;    /* убираем inline-block поведение img */
}

  .hero-title {
    text-align: center;
    margin-bottom: 72px; /* расстояние между текстом и кнопкой */
    color: #fff;
  }

 

 .hero-button {
    padding: 12px 24px;
    background-color: #4d5ae5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  }

 /* Планшет Section 1 */
 @media screen and (min-width: 768px) { 
   .hero-section {
    width: 768px;
    height: 436px;
    margin: 0 auto;
    padding-bottom: 112px;
    box-sizing: border-box;
   background-image:
      linear-gradient(rgba(46, 47, 66, 0.6), rgba(46, 47, 66, 0.6)),
      image-set(
        url('../images/people-office1\(Tablet\).jpg') 1x,
        url('../images/people-office1\(Tablet\)\(2x\).jpg') 2x
      );
  }

    .hero-section .container {
    display: flex;
    flex-direction: column;
    align-items: center; 
     justify-content: center;
    gap: 36px;
     box-sizing: border-box;
     margin-left: 136px;
    width: 216px;
    height: 288px;
    }

  .hero-title {
    width: 496px;
    height: 120px;
    text-align: center;
    font-family: var(--third-family);
font-weight: 700;
font-size: 56px;
 line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
margin: 0 auto;
    color: #fff;
  }

 .hero-button {
  border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
margin-left: 300px;
  } 
} 




/* Десктоп Section 1 */
@media screen and (min-width: 1158px) { 
   .hero-section {
    max-width: 1440px;
    width: 100%;     
    height: 600px;
    margin: 0 auto;

    padding-top: 188px;     /* ✅ ДОБАВИЛИ как требует задание */
    padding-bottom: 188px;  /* ✅ ДОБАВИЛИ */

    box-sizing: border-box;

    background-image:
      linear-gradient(rgba(46, 47, 66, 0.6), rgba(46, 47, 66, 0.6)),
      image-set(
        url('../images/people-office1(Desktop).jpg') 1x,
        url('../images/people-office1(Desktop)(2x).jpg') 2x
      );

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }

.hero-section .container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 48px;              
    width: auto;            
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
  }

.hero-title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
    margin: 0;  
}

.hero-button {
  display: block;          /* ← важно */
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
 margin: auto 0;     /* ← центрируем кнопку */
}
}






/* Мобильный Section 2 */
.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;

  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

    /* Каждая карточка */ 
.feature-item {
  width: 288px;
  text-align: center;
  box-sizing: border-box;
}
    /* Иконка (если нужна, оставляем) */ 
  .icon-container {
  display: none;
}
    /* Заголовок */ 
    .feature-title {
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 1.2;
}

.feature-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  width: 288px;
  text-align: left;
}

  .container-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

   .features-section {
  width: 320px;
  min-height: 888px;     /* лучше min-height, чем height */
  margin: 0 auto;

  padding-top: 96px;    /* 🔹 отступ сверху */
  padding-bottom: 96px; /* 🔹 отступ снизу */

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}



/* Планшет Section 2 */
@media screen and (min-width: 768px) {
  .features-section { 
    display: flex; 
    flex-direction: column;        /* контент сверху вниз */
    align-items: center;           /* центрируем по горизонтали */
    justify-content: center;       /* центрируем по вертикали */
    margin: 0 auto;                
    width: 768px;
    min-height: 504px;                 /* фиксированная высота */
    padding: 0 16px;               /* отступы слева и справа */
    box-sizing: border-box;
    background: #fff;

  } 


  /* Контейнер списка фич */ 
  .features-list { 
    display: grid; /* отменяем flex */ 
    grid-template-columns: repeat(2, 1fr); /* 2 карточки в ряд */ 
    gap: 72px 24px; 
    width: 100%; /* чтобы занимать всю ширину контейнера */ 
    justify-items: center; /* центрируем карточки внутри ячеек */ 
  } 

  /* Карточки */ 
  .feature-item { 
    width: 100%; /* занимают всю ширину ячейки */ 
    box-sizing: border-box; 
  } 

  .icon-container { 
    display: none; 
  } 

  .feature-title {
    font-size: 36px;
    text-align: left;
  }

  .feature-text {
    font-size: 16px;
     width: 356px;   
 
  }
}



/* Десктоп Section 2 */
@media screen and (min-width: 1158px) {
.features-section {
  width: 1440px;
  min-height: 464px;       
  padding: 120px 156px; 
  margin: 0 auto;
  box-sizing: border-box;
  }

.container.features {
  max-width: calc(100% - 312px); /* 156px слева + 156px справа */
  margin: 0 auto;                /* центрирование */
}

 .features-list {
    display: grid;            
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    
  }

  .feature-item {
     width: auto; 
   width: 264px;        /* фиксированная ширина */
    box-sizing: border-box; 
  height: 100%; /* или фиксированная высота, например 250px */              
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .feature-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
      max-width: 264px;      
  }

  .feature-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
      max-width: 264px;      
  }
}


/* Мобильный Section 3 */
.team-section {
  padding: 96px 0;
  box-sizing: border-box;
  margin: 0 auto;
  background: #f4f4fd;
}

.team-list {
  display: flex;
  flex-direction: column; 
  gap: 72px;              
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;    
}

.team-item-team-item-first {
  width: 264px;           
  height: 428px;          
  box-sizing: border-box;
  border-radius: 4px;          /* скругление углов */
  overflow: hidden;            /* чтобы контент не вылазил за границы */
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-team-item-first img {
  width: 100%;            
  height: auto;
  display: block;
}

.team-info {
  padding: 32px 16px 32px 16px;
  text-align: center;     
}

.team-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.team-role {
  font-size: 16px;
  color: #434455;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 8px;               
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-icon {

}

.team-title {
  font-family: var(--third-family);
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
  margin: 0 auto;
   margin-bottom: 72px; 
}

/* Соцсети */
.social-list {
  display: flex;
  justify-content: flex-start;
  gap: 24px;               /* расстояние между кругами */
  width: 100%;
  padding: 0 16px;         /* отступы слева и справа */
  margin-top: auto;         /* прижать к низу карточки */
  margin-bottom: 32px;      /* от нижнего края карточки */
  list-style: none;
  box-sizing: border-box;
}

.social-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}





/* Планшет Section 3 */
@media screen and (min-width: 768px) {
  .team-section {
    width: 100%;          /* ширина секции */
    height: 1224px;        /* высота секции */
    padding-top: 96px;     /* отступ сверху до заголовка */
    padding-bottom: 96px;  /* отступ снизу от карточек до конца секции */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
     background-size: cover; 
  }

  .team-title {
    width: calc(100% - 32px); /* отступы слева/справа по 16px */
    text-align: center;
    margin-bottom: 72px;       /* от заголовка до карточек */
  }

  .team-list {
    display: grid;                   /* сетка 2x2 */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 24px;                /* горизонтальный gap */
    row-gap: 64px;                   /* вертикальный gap между рядами */
    width: 100%;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
  }

.team-item-team-item-first img {
  width: 100%;            
  height: auto;
  display: block;
}

.team-info {
  padding: 32px 16px 32px 16px;
  text-align: center;     
}

.team-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

  .social-list {
    display: flex;
    justify-content: flex-start;
    gap: 24px;                     /* расстояние между кругами */
    width: 100%;
    padding: 0 16px;               /* отступы слева/справа внутри карточки */
    margin-top: auto;
    margin-bottom: 32px;           /* расстояние от нижнего края карточки */
    list-style: none;
    box-sizing: border-box;
  }

  


.team-role {
  font-size: 16px;
  color: #434455;
  margin-bottom: 16px;
}


/* Соцсети */
.social-list {
  display: flex;
  justify-content: flex-start;
  gap: 24px;               /* расстояние между кругами */
  width: 100%;
  padding: 0 16px;         /* отступы слева и справа */
  margin-top: auto;         /* прижать к низу карточки */
  margin-bottom: 32px;      /* от нижнего края карточки */
  list-style: none;
  box-sizing: border-box;
}

.social-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}
}



/* Десктоп Section 3 */
@media screen and (min-width: 1158px) {
.team-section {
    width: 1440px;
    height: 780px;
    background-color: #f4f4fd;
    padding: 120px 0;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .container-team {
    width: 1128px;   /* стандартный desktop container */
    margin: 0 auto;
  }

  .team-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 72px;
  }

   .team-list {
    display: flex;
    flex-direction: row;   
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
  }

/* КАРТОЧКА */
 .team-item-team-item-first {
    width: 264px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow:
      0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

/* Смартфон Section 4 */
/* ===== Section 4 | Mobile ===== */

.portfolio-section {
  width: 320px;
  background-color: #ffffff;
  margin: 0 auto;
  box-sizing: border-box;
   padding-top: 96px; 
   padding-bottom: 96px;
}

.container-portfolio {
  width: 100%;
  padding-top: 96px;      /* от верха секции до заголовка */
  padding-bottom: 96px;  /* можно оставить симметрично */
  box-sizing: border-box;
}

/* Заголовок */
.portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 72px;   /* от заголовка до карточек */
}

/* Список карточек */
.portfolio-list {
  display: flex;
  flex-direction: column;   /* карточки в столбик */
  gap: 48px;                /* расстояние между карточками */
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Карточка */
.portfolio-item {
  width: 288px;

  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

/* Картинка */
.portfolio-img-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Текст карточки */
.portfolio-info {
  padding: 32px 16px;
  text-align: left;
}

.portfolio-item-title {
font-family: var(--third-family);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

}

.portfolio-item-text {
font-family: var(--third-family);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-top: 8px;
}

.portfolio-overlay-text {
display: none;
}






/* Планшет Section 4 */
@media screen and (min-width: 768px) {
 .portfolio-section {
    width: 768px;
    height: 1708px;
    margin: 0 auto;
    padding: 96px 16px; /* отступы секции */
    box-sizing: border-box;
    background-color: #fff;
  }

  .portfolio-title {
    margin-bottom: 72px; /* от заголовка до карточек */
    text-align: center;
  }

  .portfolio-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 карточки в ряд */
    column-gap: 24px;  /* между карточками по горизонтали */
    row-gap: 72px;     /* между рядами */
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .portfolio-item {
    width: 100%;
    max-width: 356px; /* чтобы красиво смотрелось на планшете */
    height: 400px;
    margin: 0 auto;
    box-sizing: border-box;
  }

.portfolio-item-title {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 0 8px 0; /* только отступ снизу между заголовком и текстом */
}

.portfolio-item-text {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0; /* убираем все внешние отступы */
}

  .portfolio-img-container img {
    width: 100%;
    height: auto;
    display: block;
  }

  .portfolio-info {
  padding: 32px 16px 32px 16px; /* сверху, справа, снизу, слева */
  box-sizing: border-box;
}


.portfolio-overlay-text {
display: none;
}
}



/* Десктоп Section 4 */
@media screen and (min-width: 1158px) {

  .portfolio-section {
    width: 1440px;
    height: 1240px;
    margin: 0 auto;
    padding-top: 120px;    /* отступ сверху до заголовка */
    padding-bottom: 120px; /* отступ снизу секции */
    box-sizing: border-box;
    background-color: #fff;
  }

  .portfolio-title {
    text-align: center;
    margin-bottom: 120px; /* от заголовка до карточек */
    font-size: 36px;
    font-weight: 700;
  }

  .portfolio-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд */
    column-gap: 24px;  /* горизонтальные отступы */
    row-gap: 40px;     /* вертикальные отступы между рядами */
    list-style: none;
    margin: 0;
    padding: 0 16px; /* отступы слева и справа всей сетки */
    box-sizing: border-box;
  }

  .portfolio-item {
    width: 100%;
    max-width: 432px;  /* ширина карточки в десктоп */
    height: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff;
  }

  .portfolio-info {
    padding: 32px 16px; /* отступы внутри карточки: сверху/снизу 32, слева/справа 16 */
    box-sizing: border-box;
  }

  .portfolio-item-title {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0 0 8px 0; /* только отступ снизу между заголовком и текстом */
  }

  .portfolio-item-text {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0; /* без внешних отступов */
  }

.portfolio-img-container {
  position: relative;
  display: inline-block;
  width: 360px; /* ширина картинки */
  height: auto;
  overflow: hidden;
}

/* Overlay скрыт по умолчанию */


/* Текст на overlay */
.portfolio-overlay-text {
  color: #ffffff;   /* белый текст */
  font-size: 14px;
  line-height: 1.4;
  z-index: 3;       /* выше синего фона */
}

.portfolio-img-container img {
  display: block;
}

/* Текст внутри overlay */
.portfolio-overlay-text {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.portfolio-img-container:hover .portfolio-overlay {
  transform: translateY(0);
}



  /* overlay (если понадобится позже) */

}



/* ===== Смартфон Footer ===== */
.footer {            /* фиксированная высота */
  background-color: #2e2f42;  /* фон футера */
  margin: 0 auto;
  padding: 96px 0;         /* отступ сверху и снизу 96px */
  display: flex;
  flex-direction: column;     /* вертикальное расположение блоков */
  align-items: center;        /* горизонтальное центрирование */
  box-sizing: border-box;
  text-align: center;
}

/* Контейнер для всех блоков */
.footer-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 320px;
  box-sizing: border-box;
}

/* ===== Логотип и текст ===== */
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container-footer-flex {
  padding-left: 16px;
  padding-right: 16px;
}

.footer-info .logo-part1 {
  font-family: var(--font7);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-info .logo-part2 {
  font-family: var(--font7);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

/* Абзац текста под логотипом */
.paragraf-footer {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;       /* от заголовка до абзаца */
  text-align: left;       /* текст по левому краю */
}

/* ===== Social media ===== */
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.social-title {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;                /* расстояние между иконками */
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-item a {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item a:hover,
.social-item a:focus {
  background-color: #404bbf;
}

/* ===== Подписка ===== */
.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.subscribe-title {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}

/* Плейсхолдер для e-mail */
.subscribe-label input {
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;   /* прозрачный фон */
  padding: 0 12px;
  font-size: 16px;
  color: #fff;     
  box-sizing: border-box;
}

.subscribe-label input::placeholder {
  color: #fff;
  opacity: 1;                   /* чтобы плейсхолдер был полностью белым */
}

/* Кнопка подписки */
.subscribe-btn {
  width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.subscribe-btn svg {
  margin-left: 8px; /* расстояние между текстом и иконкой */
}



/* Плагшет Footer */
@media screen and (min-width: 768px) {
.footer { 
    background-color: #2e2f42; 
    color: #f4f4fd; 
    padding-top: 96px; /* верхний отступ */ 
    padding-bottom: 96px; /* нижний отступ */ 
    box-sizing: border-box; 
  
  } 
  
  .container-footer-flex { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 24px; 
    max-width: calc(100% - 216px); /* учитываем слева и справа по 108px */ 
    
  } 

  /* Первый ряд */ 
  .footer-info { 
    grid-column: 1 / 2; 
    grid-row: 1; 
    width: 264px; /* фиксированная ширина для текста */ 
    align-items: flex-start;
  } 


  .paragraf-footer {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;       /* от заголовка до абзаца */
  margin-bottom: 72px;     /* от абзаца до блока social media */
  text-align: left;       /* текст по левому краю */
}
  
  .footer-social { 
    grid-column: 2 / 3; 
    grid-row: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    margin-left: -200px;
  } 

.subscribe-form { 
  display: grid; 
  grid-template-columns: 264px 1fr; /* поле ввода 264px, кнопка занимает оставшееся место */ 
  gap: 24px; /* отступ между полем и кнопкой */ 
  width: 100%; 
}

  .subscribe-input { 
    grid-column: 1 / 2; 
    width: 264px; 
    padding: 12px 14px; 
    border-radius: 4px; 
    border: 1px solid rgba(255,255,255,0.3); 
    background-color: transparent; 
    color: #fff; 
    box-sizing: border-box; 
  } 

  .subscribe-btn { 
    grid-column: 2 / 3; 
    width: 100%; 
    padding: 12px 24px; 
    border-radius: 4px; 
    border: none; 
    background-color: #4d5ae5; 
    color: #fff; 
    cursor: pointer; 
    box-sizing: border-box; 
    margin-left: 24px;

  } 

  /* Соцсети */ 
  .social-list { 
    display: flex; 
    gap: 12px; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
  }

  .social-link { 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: #4d5ae5; 
  } 

  .social-link svg { 
    fill: #fff; 
  } 

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* ← вот это главное */
  gap: 10px;
  width: 100%;
}

.social-title {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-left: 24px;
}

.subscribe-title {
  margin-top: -36px;
}
}



/* Десктоп Section 4 */
@media screen and (min-width: 1158px) {
.footer {
  width: 1440px;              /* ширина футера */
  height: 312px;              /* высота футера */
  background-color: #2e2f42; /* фон футера */
  color: #fff;
  padding: 100px;       /* отступы сверху/снизу и по бокам */
  display: flex;
  align-items: flex-start;    /* выравниваем блоки по верхнему краю */
  justify-content: flex-start;/* блоки слева направо */
  box-sizing: border-box;
}

/* Контейнер для всех блоков */
.container-footer-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 
}

.footer-social {
  flex: 0 0 auto;
  width: 208px;
  margin-right: 80px;        /* отступ до третьего блока */
  margin-left: 120px;
}

/* Второй блок: соцсети */
.footer-info {
  flex: 0 0 auto;            /* ширина зависит от контента */
  max-width: 264px;           /* ограничиваем ширину блока */
  margin-left: 40px;
}

/* Третий блок: подписка */

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* ← вот это главное */
  gap: 10px;
  width: 100%;
  margin-top: 35px;

  
}


/* Внутри футера стили для текста, соцсетей и формы */
.logo-link {
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-studio {
  color: #fff;
}

.footer-text {
  width: 100%;          /* занять всю ширину родителя */
  max-width: 264px;     /* или нужную фиксированную ширину */
  line-height: 1.5;     /* высота строки */
  font-size: 16px;
  color: #fff;
  margin-top: 16px;
  text-align: left;     /* выравниваем по левому краю */
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  margin-left: 3px;
}

.social-list {
  display: flex;
  gap: 16px;
  list-style: none;
}

.social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover {
  background-color: #404bbf;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  
}

.subscribe-input {
  width: 264px;           /* фиксированная ширина поля */
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  padding: 0 14px;
  color: #fff;
  box-sizing: border-box;
}

.subscribe-btn {
  height: 40px;           /* чтобы совпадала с полем ввода */
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  padding: 0 16px;
  cursor: pointer;
  margin-top: 0;
}

.subscribe-input::placeholder {
  color: #fff;
}


.subscribe-btn:hover {
  background-color: #404bbf;
}

  .paragraf-footer {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;       /* от заголовка до абзаца */
  margin-bottom: 72px;     /* от абзаца до блока social media */
  text-align: left;       /* текст по левому краю */
}
}



/* ===== Смартфон Modal Backdrop ===== */
  
   /* Бекдроп */
   @media screen and (max-width: 767px) {
  /* ===== Backdrop ===== */
  .modal-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 16px 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  /* ===== Modal window ===== */
  .modal-window {
    width: 288px;
    min-height: 623px;
    max-height: calc(100vh - 32px);
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 24px 16px; /* сверху/снизу 24px, слева/справа 16px */
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding-top: 72px;
  }

  .modal-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}



  /* ===== Close button ===== */
  .modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
  }

  /* ===== Title ===== */
  .modal-title {
    margin-bottom: 24px;
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }

  /* ===== Form ===== */
  .modal-form {
    flex-direction: column;
    align-items: center;

  }

/* кнопка submit */
.modal-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   margin-top: 24px;
}

 /* ===== Field wrapper ===== */

  /* ===== Label ===== */
 /* поля формы */
.form-field {
  margin-bottom: 8px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text, #8e8f99);
  display: block;
  margin-bottom: 4px; /* или 8px для большего пространства */
}

 

  /* ===== Input ===== */
  .form-input {
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 256px;
height: 40px;
 margin-bottom: 8px;  /* можно оставить для отступа под input */
  padding-left: 44px;  /* сохраняем отступ для иконки */
  }

  .form-comment {
    margin-bottom: 16px;
  }


/* Иконка */
.input-wrap svg {
  position: absolute;
  left: 16px;   /* отступ от левого края */
  top: 8px;     /* отступ сверху (выравнивание по padding-top) */
  width: 18px;  
  height: 18px; /* иконка не растягивается по высоте input */
  pointer-events: none;
  z-index: 2;
}

/* Сам input */
.form-input {
  padding-left: 44px;      /* 16px + ширина иконки + небольшой отступ */
  box-sizing: border-box;
}

.input-wrap {
  position: relative;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
flex-shrink: 0;
}
  

.checkbox-custom {
font-family: var(--third-family);
font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;
}

.checkbox-custom1  {
font-family: var(--third-family);
font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;
}

.checkbox-link {
  line-height: 133%;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px; /* ← РОВНО 8px от checkbox до текста */
  
}

  

  /* Textarea */
  .form-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    box-sizing: border-box;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 256px;
    height: 120px;
  }

  .form-textarea::placeholder {
font-family: var(--third-family);
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
opacity: 0.5;
}
}
   
 





/* Планшет Modal Backdrop */
@media screen and (min-width: 768px) {
/* Фон модального окна */ 

/* backdrop */
/* Фон */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4); /* затемнение */
  z-index: 1000; /* ниже окна */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;          /* скрыт по умолчанию */
  visibility: hidden;  /* не интерактивен */
  pointer-events: none; /* клики не проходят */
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; /* клики разрешены */
}

/* Модальное окно */
.modal-window {
  position: fixed;  /* ключевое: fixed вместо relative */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc; /* полностью непрозрачный фон */
  box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1001; /* выше бекдропа */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: center; 
  padding-left: 24px;
}



.modal-close {
  position: absolute;
  top: 24px;   
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 8px;
  
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #ffffff;
}

/* иконка крестик */
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* заголовок */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  margin-top: 72px;
}

/* форма */
.modal-form {
  display: flex;
  flex-direction: column;
}

/* поля формы */
.form-field {
  margin-bottom: 8px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text, #8e8f99);
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.form-input {
  width: 360px;       
  height: 40px;        
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px; 
  outline: none;
  box-sizing: border-box; 
  background-color: transparent;
}

.form-input:focus {
  border-color: #4d5ae5;
}

/* иконка в input */
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .input-icon {
  fill: #4d5ae5;
}

/* textarea */
.form-comment {
  margin-bottom: 16px;
  
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: #4d5ae5;
}



/* чекбокс */
.form-checkbox {
  margin-bottom: 24px;
}

.checkbox-input.visually-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text, #8e8f99);
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  
}

.checkbox-input:checked + .checkbox-label .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-link {
  color: #4d5ae5;
  text-decoration: underline;
}

/* кнопка submit */
.modal-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   margin-bottom: 24px;
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #404bbf;
}

.modal-form input,
.modal-form textarea {
  width: 100%; 
  padding-left: 24px; 
  padding-right: 24px; 
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;  
  box-shadow: 0px 1px 1px rgba(0,0,0,0.14),
              0px 1px 3px rgba(0,0,0,0.12),
              0px 2px 1px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 1000;  
  margin-top: 72px; 
  margin-bottom: 24px; 
}

.modal-form input,
.modal-form textarea {
  width: 360px;
  box-sizing: border-box;
}

.modal-overlay {
  position: fixed;     
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2f42; 
  z-index: 999;        
}
}







/* Десктоп Modal Backdrop */
@media screen and (min-width: 1158px) {

/* backdrop */
/* Фон */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4); /* затемнение */
  z-index: 1000; /* ниже окна */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;          /* скрыт по умолчанию */
  visibility: hidden;  /* не интерактивен */
  pointer-events: none; /* клики не проходят */
}

/* Модификатор при открытом модальном окне */
.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; /* клики разрешены */
}

/* Модальное окно */
.modal-window {
  position: fixed;  /* ключевое: fixed вместо relative */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc; /* полностью непрозрачный фон */
  box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1001; /* выше бекдропа */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: center; 
  padding-left: 24px;
}



.modal-close {
  position: absolute;
  top: 24px;   
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 8px;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #ffffff;
}

/* иконка крестик */
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* заголовок */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  margin-top: 72px;
  margin-left: -24px;
}

/* форма */
.modal-form {
  display: flex;
  flex-direction: column;
}

/* поля формы */
.form-field {
  margin-bottom: 8px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text, #8e8f99);
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.form-input {
  width: 360px;       
  height: 40px;        
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px; 
  outline: none;
  box-sizing: border-box; 
  background-color: transparent;
}

.form-input:focus {
  border-color: #4d5ae5;
}

/* иконка в input */
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .input-icon {
  fill: #4d5ae5;
}

/* textarea */
.form-comment {
  margin-bottom: 16px;
  
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

/* чекбокс */
.form-checkbox {
  margin-bottom: 24px;
}

.checkbox-input.visually-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text, #8e8f99);
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  
}

.checkbox-input:checked + .checkbox-label .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-link {
  color: #4d5ae5;
  text-decoration: underline;
}

/* кнопка submit */
.modal-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 24px;
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #404bbf;
}

.modal-form input,
.modal-form textarea {
  width: 100%; 
  padding-left: 24px; 
  padding-right: 24px; 
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;  
  box-shadow: 0px 1px 1px rgba(0,0,0,0.14),
              0px 1px 3px rgba(0,0,0,0.12),
              0px 2px 1px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 1000;  
  margin-top: 72px; 
  margin-bottom: 24px; 
}

.modal-form input,
.modal-form textarea {
  width: 360px;
  box-sizing: border-box;
}

.modal-overlay {
  position: fixed;     
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2f42; 
  z-index: 999;        
}
}




/* Смартфон Mobile Menu */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;            /* меню растягивается на всю высоту экрана */
    background: #fff;
    transform: translateX(100%);
    transition: 400ms ease-in;
    z-index: 9999;
    overflow-y: auto;          /* если контента слишком много — появляется прокрутка */
  }

  .mobile-menu.is-open {
    transform: translateX(0);
  }

 .mobile-menu .container2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 72px 16px 40px;     /* отступ сверху 72px, как нужно */
  box-sizing: border-box;
}

  .mobile-menu-container {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 1001;
  }

  .mobile-menu-container svg {
    width: 100%;
    height: 100%;
    fill: #000;
  }

  .header-container {
    position: relative;
  }

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px; /* отступы между Studio / Portfolio / Contacts */
  list-style: none;
  padding: 0;
  margin: 0; /* убираем margin-top */
}

  .mobile-menu-link {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-decoration: none;
    
  }

  .form-label-comment {
    font-family: var(--third-family);
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;

  }

  .mobile-menu-nav li:first-child .mobile-menu-link {
    color: #404bbf;
  }

  .mobile-menu-nav li:nth-child(2) .mobile-menu-link,
  .mobile-menu-nav li:nth-child(3) .mobile-menu-link {
    color: #2e2f42;
  }

  .mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 168px;
    list-style: none;
  }

  .mobile-menu-contacts .mobile-menu-link {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .mobile-menu-contacts li:first-child .mobile-menu-link {
    color: #4d5ae5;
  }

  .mobile-menu-contacts li:last-child .mobile-menu-link {
    color: #434455;
  }

  .mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    fill: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1002;
fill: #e7e9fc;
stroke-width: 1px;
stroke: #8c8c8e;
margin-top: 48px;
margin-bottom: 24px;
border: 1px solid #D0D2E3; 

  }

  .mobile-menu-btn svg {
    width: 24px;
    height: 24px;
     fill: none;    
 stroke-width: 1px;
border: 1px solid #D0D2E3; 
  }

.social-networks {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 48px;   /* 🔹 расстояние от почты до соцсетей */
    list-style: none;
  }

  .social-networks li {
    margin: 0;
  }


  .social-networks .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
  }


 
  .social-networks .social-link svg {
    width: 20px;
    height: 20px;
    fill: #f4f4fd;
  }



  /* Смартфон Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;            /* меню растягивается на всю высоту экрана */
    background: #fff;
    transform: translateX(100%);
    transition: 400ms ease-in;
    z-index: 9999;
    overflow-y: auto;          /* если контента слишком много — появляется прокрутка */
  }

  .mobile-menu.is-open {
    transform: translateX(0);
  }

 .mobile-menu .container2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 72px 16px 40px;     /* отступ сверху 72px, как нужно */
  box-sizing: border-box;
}

  .mobile-menu-container {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 1001;
  }

  .mobile-menu-container svg {
    width: 100%;
    height: 100%;
    fill: #000;
  }

  .header-container {
    position: relative;
  }

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px; /* отступы между Studio / Portfolio / Contacts */
  list-style: none;
  padding: 0;
  margin-top: 24px;
}

  .mobile-menu-link {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .mobile-menu-nav li:first-child .mobile-menu-link {
    color: #404bbf;
  }

  .mobile-menu-nav li:nth-child(2) .mobile-menu-link,
  .mobile-menu-nav li:nth-child(3) .mobile-menu-link {
    color: #2e2f42;
  }

  .mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 168px;
    list-style: none;
  }

  .mobile-menu-contacts .mobile-menu-link {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .mobile-menu-contacts li:first-child .mobile-menu-link {
    color: #4d5ae5;
  }

  .mobile-menu-contacts li:last-child .mobile-menu-link {
    color: #434455;
  }

  .mobile-menu-btn {
    position: absolute;
    top: -12px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #e7e9fc;
    border: 1px solid #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1002;
fill: #e7e9fc;
stroke-width: 1px;
stroke: #8c8c8e;
  }

  .mobile-menu-btn svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: #2e2f42;
    stroke-width: 1px;
  }

.social-networks {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 48px;   /* 🔹 расстояние от почты до соцсетей */
    margin-bottom: 40px; /* от нижнего края окна */
    list-style: none;
  }

  .social-networks li {
    margin: 0;
  }


  .social-networks .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
  }


 
  .social-networks .social-link svg {
    width: 20px;
    height: 20px;
    fill: #f4f4fd;
  }







  /* Скрываем на планшетах и десктопе */
@media screen and (min-width: 768px) {
  .menu-button,
  .mobile-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}


